// .gitignore
# next.js build output
.next
build/

# dotenv environment variables file (build for Zeit Now)
.env
.env.build
.env.local
.env.development
.env.production
.env.download

# VS Code workspace
vscode/
.vscode/
*.code-workspace

# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json*